*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
    width: 300;
    margin: 0 auto;
    text-align: center;
}
.butttons{
    margin-top: 30px;
}
.butttons > a{
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: black;
    
}
.btn-1{
    background-color: DarkSalmon;
    border: darksalmon;
    display: table-cell;
    vertical-align: middle
}
.btn-2{
    background-color: ForestGreen;
    border: forestgreen;
    display: table-cell;
    vertical-align: middle
}